.container {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1250px;
    position: relative;
}

.tittle {
    font-size: 41px;
    font-family: "Lato" regular;
    color: #292829;
}
.tittle_small-text {
    font-size: 15px;
    margin-bottom: 80px;
}
.image {
    height: 260px;
    width: 360px;
    padding-top: 110px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
}
.image1 {
    background-image: url("images/image1.png");
}
.image1:hover {
    background-image: url("images/image1-hover.png");
}
.image2 {
    background-image: url("images/image2.png");
}
.image2:hover {
    background-image: url("images/image2-hover.png");
}
.image3 {
    background-image: url("images/image3.png");
}
.image3:hover {
    background-image: url("images/image3-hover.png");
}
.image4 {
    background-image: url("images/image4.png");
}
.image4:hover {
    background-image: url("images/image4-hover.png");
}
.image5 {
    background-image: url("images/image5.png");
}
.image5:hover {
    background-image: url("images/image5-hover.png");
}
.image6 {
    background-image: url("images/image6.png");
}
.image6:hover {
    background-image: url("images/image6-hover.png");
}
.image1:hover .button {
    visibility: visible;
}
.image2:hover .button {
    visibility: visible;
}
.image3:hover .button {
    visibility: visible;
}
.image4:hover .button {
    visibility: visible;
}
.image5:hover .button {
    visibility: visible;
}
.image6:hover .button {
    visibility: visible;
}

.imageBig {
    width: 100%;
    position: absolute;
    top: 750px;
    left:0;
}

.button {
    padding: 15px;
    border: 1px solid white;
    border-radius: 2px;
    visibility: hidden;
    display: inline-block;
}