* {
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
}
.header {
    width: 1000px;
    background-color: white;
    background-size: 100%;
    height: 98px;
}
.header_tittle {
    font-family: "Myriad Pro";
    font-size: 36px;
    color:#ee8129 ;
    float: left;
    margin-top: 45px;
}
.header_tittle span {
    text-transform: uppercase;
    color: #3070a8;
}
.header_menu{
    text-transform: uppercase;
    font-family: "Myriad Pro";
    font-size: 14px;
    color: #3070a8;
    float: right;
}
.header_menu li {
    display: inline-block;
    padding: 15px 15px;
    margin-top: 45px;
}
.header_menu li:hover {
    border-bottom: 5px solid #3070a8;
}
.banner {
    background-image: url("baner_background.png");
    background-size: 1400px cover;
    width: 1400px;
    height: 580px;
    text-align: center;
    font-family: "Myriad Pro";
    color: white;
}
.banner_h2 {
    font-size: 36px;
    padding-top: 150px;
}
.banner_h1 {
    font-size: 48px;
    text-transform: uppercase;
}
.banner_p {
    font-family: Calibri;
    font-size: 20px;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 45px;
}
.banner_button {
    font-size: 16px;
    text-transform: uppercase;
    border: #99a9b5 solid 1px;
    padding: 23px;
    width: 247px;
    margin-bottom: 105px;
}
.banner_button:hover {
    border-bottom: #99a9b5 solid 3px;
    border-right: #99a9b5 solid 3px;
    padding-left: 25px;
    text-shadow: aliceblue 2px 2px  5px;
}
.services {
    width: 1000px;
    background-color: white;
    background-size: 100%;
    height: 565px;
    text-align: center;
}
.services_title {
    text-transform: uppercase;
    color: #41525c;
    font-size: 30px;
    margin-top: 65px;
}
.services_item {
    height: 400px;
    width: 33%;
    display: inline-block;
    text-align: center;
    margin-top: 75px;
}
.services_item_picture {
    height: 35%;
}
.services_item_tittle {
    text-transform: uppercase;
    color: #3070a8;
    font-size: 30px;
    margin-top: 32px;
}
.services_item_text {
    color: #999999;
    font-size: 14px;
    margin-top: 25px;
    line-height: 2em;
}
.middle-section {
    background-image: url("img/middle-section/middle-section_background.png");
    background-size: 1400px cover;
    width: 1400px;
    height: 580px;
    font-family: "Myriad Pro";
    padding: 75px 0;
   }
.middle-section_text {
    width: 675px;
    margin-left: 190px;
}
.middle-section_tittle {
    color: #ee8129;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.5em;
}
.middle-section_h2 {
    color: white;
    font-size: 19px;
    font-style: italic;
    margin-top: 25px;
}
.middle-section_list {
    font-size: 19px;
    color: #9d9d9d;
    margin-top: 40px;
    line-height: 1.5em;
   }
.middle-section_list_li {
    padding-bottom: 15px;
}
.pricing {
    text-align: center;
    vertical-align: middle;
    margin: 75px auto;
}
.pricing_title{
    font-size: 30px;
    font-family: "Trebuchet MS" Arial;
    font-weight: bold;
    color:#41525c;
    text-transform: uppercase;
    text-align: center;

}
.pricing_box {
    height: 470px;
    width:290px;
    border: 4px solid #ee8129;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 60px;
}
.pricing_box_left {
    height: 445px;
    width:280px;
    border: 2px solid #e8eaec;
    border-radius: 4px;
    display: inline-block;
    margin-right: -5px;
}
.pricing_box_right {
    height: 445px;
    width: 280px;
    border: 2px solid #e8eaec;
    border-radius: 4px;
    display: inline-block;
    margin-left: -3px;
    border-left: none;
}
.pricing_header {
    text-transform: uppercase;
    font-family: "Trebuchet MS " Arial;
    font-weight: bold;
    font-size: 24px;
    color:white;
    text-align: center;
    box-sizing: border-box;
}
.pricing_header_left {
    background-color: #37c2d3;
    height: 67px;
    padding: 20px;
}
.pricing_header_right {
    background-color: #1cb79a;
    height: 67px;
    padding: 20px;
}
.pricing_header_center {
    background-color: #ee8129;
    height: 75px;
    padding: 23px;
}
.pricing_footer a {
    color: white;
}
.pricing_footer {
    height: 42px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Trebuchet MS bold" Arial;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 17px 18px 0 18px;
    padding: 12.6px;
    box-sizing: border-box;
    color: white;
}
.pricing_footer_left_right {
    background-color: #3371a6;
    border-bottom: 3px solid #16436a;
}
.pricing_footer_left_right:hover {
    border-bottom: 3px solid #3371a6;
    color:white;
}
.pricing_footer_center {
    background-color: #ee8129;
    border-bottom: 3px solid #b3560b;
}
.pricing_footer_center:hover {
    border-bottom: 3px solid #ee8129;
    color:white;
}
.pricing_textPrice {
    height: 155px;
    font-family: "Trebuchet MS" Arial;
    font-size: 24px;
    text-align: center;
    padding: 24px 0;
    box-sizing: border-box;
    color:#35495a;
}
.pricing_textPrice  span {font-size: 72px; font-weight: bold}
.pricing_textPrice  sup {font-size: 23px; font-weight: bold; vertical-align: 130%}
.pricing_textPrice  sub {font-size: 18px;}
.pricing_text3 {
    height: 37px;
    width: 258px;
    font-family: "Trebuchet MS" Arial;
    font-size: 15px;
    text-align:left;
    padding: 10px 0;
    box-sizing: border-box;
    color:#888c94;
    margin: 0 auto;
    margin-bottom: 1px;
    vertical-align: middle;
}
.pricing_text4 {
    font-size: 15px;
    vertical-align: middle;
    padding: 0 0 30px 36px;
    margin-bottom: 20px;
}
.pricing_text4 img {padding-right: 18px}
.backgroundBlue {background-color:#edf5fd;}
.backgroundGrey {background-color:#f5f5f6;}
.testimonials {
    font-family: "Trebuchet MS " Arial;
    background-image: url("img/testimonials/testimonials_background.png");
    background-size: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.testimonials_header {
    color: #3170a8;
    font-size: 40px;
    text-transform: uppercase;
    padding: 50px 0;
}
.testimonials_header span {
    color: #ee8129;
}
.testimonials_box {
    display: inline-block;
    padding-bottom: 50px;
    margin-left: 20px ;
    margin-right: 20px ;
    position: relative;
}
.testimonials_box_face {
    height: 100px;
    width: 100px;
    vertical-align: top;
    display: inline-block;
}
.testimonials_box_text {
    display: inline-block;
    width: 320px;
    height: 100px;
    background-color: white;
    font-size: 13px;
    color: #3070a8;
    font-family: "Trebuchet MS Italic" Arial;
    padding: 10px 15px;
    overflow: hidden;
    margin-left: 25px;
    box-sizing: border-box;
}
.testimonials_box_img {
    position: absolute;
    left: 115px;
    top: 36px;
}
.testimonials div p {
    color: #666666;
    font-style: normal;
}
.testimonials_box_header {
    font-style: italic;
    border-bottom: 1px dotted #666666;
    text-align: justify;
    height: 25px;
    overflow: hidden;
}
.testimonials_box_text div:first-child {
    float: left;

}
.testimonials_box_text div:nth-child(2) {
    float: right;
    margin-right: 5px;
}
.testimonials_box_header div:first-child:before {
    content: "- ";
}
.footer {
    position: relative;
    margin: 0 auto;
}
.footer_contacts {
    position: absolute;
    top: 45px;
    left: 250px;
    width: 500px;
    color: #666666;
    font-size: 14px;
    line-height: 2em;
}

.footer_images {
    position: absolute;
    left: 190px;
    top: 45px;
}
.footer_images_phone {
    top: 155px;
}
.footer_images_mail {
    top: 192px;
}
.footer_images_social {
    top: 225px;
}

.footer_rightBlock {
    width: 650px;
    height: 350px;
    position: absolute;
    left: 340px ;
    top:0;
   }
.footer_footer {
    position: absolute;
    top: 350px;
    left:0;
    font-size: 14px;
    color: white;
    background-color: #3070a8;
    text-align: center;
    height: 105px;
    vertical-align: middle;
    line-height: 2em;
    padding-top: 25px;
    width: 100%;
}
.footer_footer span {
    color: #1d1c1c;
}