body {
    box-sizing: border-box;
}
.forma {
    height: 52px;
    max-width: 545px;
    background-color: #ffcc66;
    font-family: Arial;
    position: relative;
}
.forma_gradient {
    background: -webkit-linear-gradient(left,#ffcc10, #ee8129);
    background: -moz-linear-gradient(left,#ffcc10, #ee8129);
    background: -o-linear-gradient(left,#ffcc10, #ee8129);
    background: -ms-linear-gradient(left,#ffcc10, #ee8129);
    background: linear-gradient(left,#ffcc10, #ee8129);
}
.forma_findLine {
    position: absolute;
    top: 5px;
    left: 4px;
    height: 19px;
}
.forma_findLine {
    width:calc(100% - 95px);
}
.forma_button {
    position: absolute;
    top: 5px;
    right: 15px;
    height: 25px;
    width: 65px;
}
.forma_checkBox {
    position: absolute;
    top: 30px;
    left: 4px;
}
.forma_label {
    left: 25px;
    top: 32px;
    font-size: 12px;
}
.forma:after {
    content: " ";
    border:26px solid transparent;
    border-left:26px solid #ffcc66 ;
    position: absolute;
    left: 100%;
}
.forma_gradient:after {
    border-left:26px solid  #ee8129 ;
}
p {
    left: 4px;
    top: 20px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
}
a {
    border-bottom: 1px dashed #000080;
    text-decoration: none;
    color: black;

}